<div>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>)">
  <p><%= @list.name %> movies</p>
</div>

  <p class="btn btn-success m-3">
  <%= link_to "add a movie", new_list_bookmark_path(@list) %>
  </p>

<div class="cards">

  <% @bookmarks.each do |bookmark| %>
    <div class="card-trip">
      <img src=<%= bookmark.movie.poster_url %>/>
        <div >
        <div>
        <h2><%= bookmark.movie.title %></h2>
        <p><%= bookmark.movie.overview %></p>
        <p><b>"</b><%= bookmark.comment %></p>
        </div>
      </div>
    </div>
   <% end %>

</div>
</div>
